<div>
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    name="title" />
</div>
<div>
  <label for="author">Author:</label>
  <input
    type="text"
    id="author"
    name="author" />
</div>
<div>
  <label for="description">Description:</label>
  <textarea
    id="description"
    name="description"></textarea>
</div>
<div>
  <label for="publicationYear">Publication Year:</label>
  <input
    type="number"
    id="publicationYear"
    name="publicationYear"
    value="<%= new Date().getFullYear() %>"
    max="<%= new Date().getFullYear() %>" />
</div>
<div>
  <label for="coverImage">Cover Image:</label>
  <input
    type="file"
    id="coverImage"
    name="cover"
    accept="image/jpeg,image/jpg,image/png" />
</div>
<div>
  <label for="bookPdf">Book PDF:</label>
  <input
    type="file"
    id="bookPdf"
    name="bookPdf"
    accept="application/pdf" />
</div>
<div>
  <button type="submit">Upload Book</button>
</div>
<div>
  <a href="/books">Cancel</a>
</div>
