<header>
  <nav>
    <a href="/">
      <div>
        <h1>Sagou</h1>
        <h3>Public Library</h3>
      </div>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/books/">Books</a></li>
      <li><a href="/books/new">Upload Book</a></li>
    </ul>
  </nav>
</header>
