<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet" />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="/styles/output.css" />
    <link
      rel="stylesheet"
      href="/styles/mycss.css" />
    <script
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
      defer></script>
    <script
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
      defer></script>
    <script
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
      defer></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script
      src="https://unpkg.com/filepond@^4/dist/filepond.js"
      defer></script>

    <script
      defer
      src="/javascripts/fileUpload.js"></script>
    <script
      defer
      src="/javascripts/script.js"></script>
    <title>Document</title>
  </head>
  <body class="bg-gray-900">
    <%- include("../partials/header") %>
    <br />
    <br />
    <%- body %>
    <br />
    <%- include("../partials/footer") %>
  </body>
</html>
